# Обновление инструментов установки
pip>=23.1
setuptools>=67.0
wheel

# Основные библиотеки
python-telegram-bot==13.15
openai
python-dotenv
# tornado==6.1  ← можно явно указать, но не обязательно
tornado==6.1
gTTS==2.3.2
SpeechRecognition==3.8.1
pydub==0.25.1
requests
Pillow==11.0.0
ffmpeg-python==0.2.0
aiogram==2.25.1
cython==0.29.36
